version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: streamer_db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ../data_model/streamers_dump.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 30
    restart: always

  backend:
    build:
      context: ../server
    container_name: streamer_backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8001:8001"
    restart: always

  frontend:
    build:
      context: ../client
    container_name: streamer_frontend
    ports:
      - "5174:80"
    depends_on:
      - backend
    restart: always

volumes:
  db_data:
